$makeFitContent: fit-content;
$myBorder: 3px solid #667cf7;
$myFont: "Quick-sand","san-serif";

@mixin keyButtonCss
{
    appearance: button;
    backface-visibility: hidden;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: large;
    height: 40px;
    line-height: 1.15;
    margin: 12px 0 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 40px;
}

@mixin keyPopCss
{
    display: none;
    // display: flex;
    border: 3px solid #667cf7;
    width: 400px;
    height: $makeFitContent;
    background-color: #e0e4fd;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: $myFont;
    justify-content: center;
}

#mainSection
{
    border: $myBorder;
    width: 1300px;
    height: 600px;
    position:absolute;
    padding-top: 100px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    
}

#titleH1
{
    width: $makeFitContent;
    height: $makeFitContent;
    background-color: #b2bdfb;
    border: $myBorder;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}

#footerP
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: $makeFitContent;
    background-color: #b2bdfb;
    border: 3px solid #667cf7;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center; 
}


.row
{
    display: flex;
}

.column
{
    flex: 50%;
}


.correctSelection
{
    @include keyButtonCss();
    background-color: green;
  
    width: 40px;
    &:hover
    {
        background: green;
    }
}

.wrongSelection
{
  @include keyButtonCss();
  background-color: red;

  

  width: 40px;
  &:hover
  {
    background: red;
  }
}


button
{
  @include keyButtonCss();
  background-color: #405cf5;

  

  width: 40px;
  &:hover
  {
    background: #d8defd;
  }
 
 
}


.lowWarning
{
    
    color:  #FFCC00;
    
}

.highWarning
{
    color: #FF0000
}

body
{
    background-color: #8c9df9;
    font-family: $myFont;
}



#column2
{
    padding-top: 250px;
}

#initialDisplay
{
    font-size: xx-large;

}


#pop-upWon
{   
    @include keyPopCss();
    button
    {
        width: $makeFitContent;
    }
    h2 
    {
        color: green
    }

}

#pop-upLost
{   
    @include keyPopCss();
    button
    {
        width: $makeFitContent;
        
    }
    h2 
    {
        color: red
    }

}
#incorrectGuessesDisplay
{
    font-size: x-large;
}


.resetButton
{   

    background-color: #405cf5;
    &:hover
    {
      background: #d8defd;
    }
}

.resetIncorrectGuessesColor
{
    color: black;
}

@media screen and (max-width: 600px)
{
    #mainSection
    {   
      
        width: 590px;
        height: $makeFitContent;
    }

    #mainImg
    {
        width: 300px;
        height: 300px;
    }
    .row
    {
        flex-direction: column;
    }
    .correctSelection
    {
        margin: 10px 0 0;
       
    }

    .wrongSelection
    {   
        margin: 10px 0 0;
    
    }
    button
    { 
        margin: 10px 0 0;
    }
    #column2
    {
        padding-top: 100px;
    }
    
}
